<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Medicamentos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"  crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fonts.css">

<title>Contact List App</title>
</head>
    
<body>
    <header>
        <div class="menu_bar">
            
            <div><a onclick="ver_menu()"><span class="icon-menu"></span></a><p>HistoMed</p></div>
        </div>
        <nav id="menu">
            <ul>
                <div class="usuario"><li><img class="icono_circular" src="imagenes/foto_perfil.jpg"/><p>Pepito</p></li></div>
                <li><a href="misdatos.html"><span class="icon-profile"></span>Mis datos</a></li>
                <li><a href="medicamentos.html"><span class="icon-aid-kit"></span>Medicamentos</a></li>
                <li><a href="calendario.html"><span class="icon-calendar"></span>Calendario</a></li>
                <li><a href="mapa.html"><span class="icon-location"></span>Farmacias/Centros</a></li>
                <li><a href="estadistica.html"><span class="icon-stats-dots"></span>Estadísticas</a></li>
                <li><a href="#"><span class="icon-wrench"></span>Configuración</a></li>
            </ul>
        </nav>        
    </header>
    <div class="contenido" ng-app="myApp">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad/día</th>
                    <th>Comienzo</th>
                    <th>Finalización</th>
                </tr>
            </thead>
            <tbody ng-controller="AppCtrl">
                <tr>
                    <form>
                        <td><input type="text" class="form-control" ng-model="nuevoMedicamento.nombre" required></td>
                        <td><input type="text" class="form-control" ng-model="nuevoMedicamento.cantidad"></td>
                        <td><input type="date" class="form-control" ng-model="nuevoMedicamento.inicio"></td>
                        <td><input type="date" class="form-control" ng-model="nuevoMedicamento.fin"></td>
                        <td><input type="submit" class="btn btn-primary" ng-click="addMedic()" value="+"></td>
                    </form>
                </tr>
                <tr ng-repeat="medicamento in medicamentos track by $index">
                    <td>{{medicamento.nombre}}</td>
                    <td>{{medicamento.cantidad}}</td>
                    <td>{{medicamento.inicio}}</td>
                    <td>{{medicamento.fin}}</td>
                    <td><button class="btn btn-danger" ng-click="remove($index)">-</button></td>
                </tr>
            </tbody>
        </table>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/controllerMedic.js"></script>
<script src="js/jquery.1.11.1.min.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
</body>
</html>